<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>acm</display-name>

	<!--
		///////////////////////////////
			Configuracao Spring 2.5 
		///////////////////////////////
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<!-- 
		///////////////////////////////
			Configuracao do BlazeDS
		/////////////////////////////// 
	-->
	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/hotfixes</param-value>
	</context-param>
	
	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>
			flex.messaging.MessageBrokerServlet
		</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	<servlet>
	    <description></description>
	    <display-name>ServletReportDespesasListagem</display-name>
	    <servlet-name>ServletReportDespesasListagem</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasListagem</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportDespesasOBS</display-name>
	    <servlet-name>ServletReportDespesasOBS</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasOBS</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportDespesasExtras</display-name>
	    <servlet-name>ServletReportDespesasExtras</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasExtras</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportDespesasPorMes</display-name>
	    <servlet-name>ServletReportDespesasPorMes</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasPorMes</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportDespesasPorMesCT</display-name>
	    <servlet-name>ServletReportDespesasPorMesCT</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasPorMesCT</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportReceitasListagem</display-name>
	    <servlet-name>ServletReportReceitasListagem</servlet-name>
	    <servlet-class>ACM.controller.ServletReportReceitasListagem</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportReceitasPorMes</display-name>
	    <servlet-name>ServletReportReceitasPorMes</servlet-name>
	    <servlet-class>ACM.controller.ServletReportReceitasPorMes</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>ServletReportReceitasPorMesCT</display-name>
	    <servlet-name>ServletReportReceitasPorMesCT</servlet-name>
	    <servlet-class>ACM.controller.ServletReportReceitasPorMesCT</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportDespesasPorDepartamento</display-name>
	    <servlet-name>ServletReportDespesasPorDepartamento</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasPorDepartamento</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportReceitasPorDepartamento</display-name>
	    <servlet-name>ServletReportReceitasPorDepartamento</servlet-name>
	    <servlet-class>ACM.controller.ServletReportReceitasPorDepartamento</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportReceitasSocio</display-name>
	    <servlet-name>ServletReportReceitasSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportReceitasSocio</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportDespesasSocio</display-name>
	    <servlet-name>ServletReportDespesasSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDespesasSocio</servlet-class>
	</servlet>
	
	<servlet>
	    <display-name>ServletReportRetiradasSocio</display-name>
	    <servlet-name>ServletReportRetiradasSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportRetiradasSocio</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportAplicacoesSocio</display-name>
	    <servlet-name>ServletReportAplicacoesSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportAplicacoesSocio</servlet-class>
	</servlet>	
	<servlet>
	    <display-name>ServletReportGeralSocio</display-name>
	    <servlet-name>ServletReportGeralSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportGeralSocio</servlet-class>
	</servlet>	
	<servlet>
	    <display-name>ServletReportResumoMensal</display-name>
	    <servlet-name>ServletReportResumoMensal</servlet-name>
	    <servlet-class>ACM.controller.ServletReportResumoMensal</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportDinheiroRecebidoSocio</display-name>
	    <servlet-name>ServletReportDinheiroRecebidoSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDinheiroRecebidoSocio</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportDinheiroAReceberSocio</display-name>
	    <servlet-name>ServletReportDinheiroAReceberSocio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDinheiroAReceberSocio</servlet-class>
	</servlet>	
	<servlet>
	    <display-name>ServletReportDistribuicaoAnual</display-name>
	    <servlet-name>ServletReportDistribuicaoAnual</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDistribuicaoAnual</servlet-class>
	</servlet>		
	<servlet>
	    <display-name>ServletReportExamesPorConvenio</display-name>
	    <servlet-name>ServletReportExamesPorConvenio</servlet-name>
	    <servlet-class>ACM.controller.ServletReportExamesPorConvenio</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportDemonstrativoFinanceiro</display-name>
	    <servlet-name>ServletReportDemonstrativoFinanceiro</servlet-name>
	    <servlet-class>ACM.controller.ServletReportDemonstrativoFinanceiro</servlet-class>
	</servlet>
	<servlet>
	    <display-name>ServletReportConveniosSemValor</display-name>
	    <servlet-name>ServletReportConveniosSemValor</servlet-name>
	    <servlet-class>ACM.controller.ServletReportConveniosSemValor</servlet-class>
	</servlet>	
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasPorMes</servlet-name>
	    <url-pattern>/ServletReportDespesasPorMes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasPorMesCT</servlet-name>
	    <url-pattern>/ServletReportDespesasPorMesCT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasListagem</servlet-name>
	    <url-pattern>/ServletReportDespesasListagem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasOBS</servlet-name>
	    <url-pattern>/ServletReportDespesasOBS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasExtras</servlet-name>
	    <url-pattern>/ServletReportDespesasExtras</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportReceitasPorMes</servlet-name>
	    <url-pattern>/ServletReportReceitasPorMes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportReceitasPorMesCT</servlet-name>
	    <url-pattern>/ServletReportReceitasPorMesCT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportReceitasListagem</servlet-name>
	    <url-pattern>/ServletReportReceitasListagem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasPorDepartamento</servlet-name>
	    <url-pattern>/ServletReportDespesasPorDepartamento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportReceitasPorDepartamento</servlet-name>
	    <url-pattern>/ServletReportReceitasPorDepartamento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportReceitasSocio</servlet-name>
	    <url-pattern>/ServletReportReceitasSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDespesasSocio</servlet-name>
	    <url-pattern>/ServletReportDespesasSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportRetiradasSocio</servlet-name>
	    <url-pattern>/ServletReportRetiradasSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportAplicacoesSocio</servlet-name>
	    <url-pattern>/ServletReportAplicacoesSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportGeralSocio</servlet-name>
	    <url-pattern>/ServletReportGeralSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportResumoMensal</servlet-name>
	    <url-pattern>/ServletReportResumoMensal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDinheiroRecebidoSocio</servlet-name>
	    <url-pattern>/ServletReportDinheiroRecebidoSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDinheiroAReceberSocio</servlet-name>
	    <url-pattern>/ServletReportDinheiroAReceberSocio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDistribuicaoAnual</servlet-name>
	    <url-pattern>/ServletReportDistribuicaoAnual</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportExamesPorConvenio</servlet-name>
	    <url-pattern>/ServletReportExamesPorConvenio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportDemonstrativoFinanceiro</servlet-name>
	    <url-pattern>/ServletReportDemonstrativoFinanceiro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletReportConveniosSemValor</servlet-name>
	    <url-pattern>/ServletReportConveniosSemValor</url-pattern>
	</servlet-mapping>
	
				

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>